body{
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.container{
    width: 800px;
    height: 490px;
    background-color: white;
    gap: ;
    display: flex;
    overflow: ;
    border-radius: 10px;
    
    
}
.content-1{
    width: 300px;
    height: 5px;
    
    padding: 8px;
}
.content-2{
    margin-top: 30px;
    height: 0px;
    margin-left: 50px ;
    position: ;
}
.button{
    font-size: 5px;
    top: 10px;
    color: white;
    height: 100px;
    


}
.a{
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    width: 25px;
    height: 25px;
    top: -1px;
}
.a{
   border-radius:30px;
   text-decoration: none;
   text-align:center;
   font-size: 10px;
   position: relative;
   width:30px;
   height: 30px;
   background-color:transparent;
   color: antiquewhite;
   border: 1px solid white;
   font-weight: bolder;

 }
 .a:visited{
   width: 30px;
   height: 30px;
   border-radius: 30px;
   background-color: rgba(0, 255, 255, 0.664);
   text-align: center;
 }
 
 .a:hover{
   border-radius: 30px;
   background-color: rgba(0, 255, 255, 0.664);
   text-align: center;
 }
h2{
   font-size: small;
    color: white;
    margin-left: 45px;
    margin-top:-4px ;
     
}
a{
    font-size: small;
}
.division{

}
.division-1{
    
}
p{
    margin-top: -10px;
    opacity: 0.4;
    font-weight: bolder;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.svg{
    width: 130px;
    height: 150px;
    gap: 10;
    border-radius: 14px;
    border: 1px transparent;
    padding-inline-end:38px ;
    padding-top: 10px;
    
}
h4{
    font-weight: 600;
}
#go{
    margin-top: 120px;
    
}
#goback{
    text-decoration: none;
    font-size: large;
    font-weight: bolder;
    color: rgba(6, 6, 119, 0.836);
 }
.step{
    background-color: rgba(6, 6, 119, 0.925);
    width: 90px;
    height: 40px;
    border-radius: 6px;
    color: aliceblue;
    margin-left: 240px;
    border: 1px transparent;
}
.division-button{
   flex-wrap:
}
/* The switch-the defa*/
.switch{
   position: relative;
   display: inline-block;
   width: 60px;
   height: 34px;
}
/*Hide default html checkbox*/
 
