body{
    background-color: blue;
    background-size: 100%;
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container{
   display: flex;
   justify-content: center;
   flex-direction: column;
   gap: 20px;
   min-height: 100vh;
   box-sizing: border-box;
   align-items: center;
   
}
.box{
    width: 430px;
    height: 550px;
    background-color: rgba(233, 7, 7, 0.877);
    box-shadow: 0px 15px 30px rgb(62, 13, 13);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.circle{
    background-color: aliceblue;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    top: -120px;
    left: -50px;
    box-shadow: inset 0px 15px 25px rgb(104, 102, 102) ;
    position: absolute;
}
a{
    margin-left: 70px;
    
}
#form-container{
    margin-left: 120px;
    margin-top: 150px;
    color: aliceblue;
    border-radius: 20px;
    font-family: "Raleway",sans-serif;
    border-radius: 20px;
    position: absolute;
    
    
}
#form{
    border-radius: 5px;
    height: 30px;
    width: 200px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgb(220, 212, 212);
    padding: 20px;
    background-color:;
    color: wheat;
    font-weight: bolder;
    font-style: ;
    


}
::placeholder{
    color: rgb(160, 126, 126);
    font-size: large;
}

button{
    width: 150px;
    height: 35px;
    margin-left: 9%;
    margin-top: 20px;
    border-radius: 50px;
    box-shadow: 0px 1px 20px;
    font-size: larger;
}
h1{
    color: rgba(35, 81, 180, 0.313);
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    margin-left: 20px;
    margin-bottom: 20px;
    text-shadow: 3px 3px 3px rgb(15, 15, 15);
}
a:hover{
    text-decoration: none;
    cursor: grab;
}
button:hover{
    background-color:black;
    color: blue;
    cursor: all;
    animation-duration: 2px;
    width: 100px;
    margin-left: 15%;
    transition: 2s ;
    transition-timing-function:cubic-bezier(0.39, 0.575, 0.565, 1);
    

}
.circle-2{
    background-color: aliceblue;
    width: 300px;
    height: 300px;
    border-radius: 50% 40% 50%;
    top: 450px;
    left: 320px;
    box-shadow: inset 0px 15px 25px rgb(104, 102, 102) ;
    position: absolute;
}
